################################################################################################
#	
#  cmake 工程相关
#  
################################################################################################
build/ 
datasets/
log/
out/
data/
reference/
cmake-build-debug/
pkg/
lib/  
# !src/

.vscode/
.idea/
.trash/
git/
/doc/html

################################################################################################
#	
#  python 相关
#  
################################################################################################
__pycache__/
checkpoints/
weights/

*.py[cod]
*.pth
*.engine

################################################################################################
#	
#  文件格式相关
#  
################################################################################################
*.log
*.out
*.o
